@media (max-width: 768px) {
  #header {
    height: auto;
    /* Navbar */
    .nav {
      justify-content: center;

      .nav-left {
        flex-direction: column;

        .navbar-content {
          display: none;
        }
      }

      .nav-right {
        & a {
          padding: 0.3rem 0.5rem;
        }
      }
    }
    .header-main {
      grid-template-columns: 1fr;
      gap: 0rem;
      border: none;

      .header-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0;
        margin: 0;

        & h1 {
          padding: 0rem 0;
          font-size: 1.7rem;
          margin-bottom: 0.5rem;
        }

        & p {
          font-size: 1rem;
          padding: 0;
          margin-bottom: 1rem;
        }

        .btn {
          padding: 0.35rem 1rem;
        }
      }

      .header-vid {
        & video {
          height: 400px;
          width: 400px;
        }
      }
    }
  }

  #crypto {
    .crypto-content {
      & h1 {
        text-align: center;
        font-size: 1.5rem;
      }

      .grid-3 {
        grid-template-columns: 1fr;
      }

      .cry-grid-content {
        padding: 0.5rem 0;

        & h3 {
          font-size: 2rem;
        }
      }

      .grid-2 {
        display: block;
      }

      .btc-float {
        display: none;
      }

      .content-right {
        text-align: center;
        align-items: center;
        padding: 8rem 0 0 0;

        & h3 {
          display: flex;
          flex-direction: column;
          margin: 0 auto;
          font-weight: 400;

          & span {
            width: 45px;
            margin: 0.5rem auto;
          }
        }
      }
    }
  }

  #why-cookie {
    .why-content {
      & h1 {
        font-size: 2rem;
      }

      .grid-3 {
        grid-template-columns: 1fr;
      }

      .inner-grid-why {
        text-align: center;

        & p {
          width: 50%;
        }
      }
      .btn {
        padding: 0.5rem 1rem;
      }
    }
  }

  #rewards {
    .reward-content {
      & h3 {
        font-size: 1rem;
      }

      & h1 {
        text-align: center;
        font-size: 2rem;
      }

      & p {
        font-size: 0.8rem;
        text-align: center;
      }

      .grid-4 {
        grid-template-columns: 1fr;
        gap: 0 0.3rem;
        padding: 0;
      }

      .crypto-inner {
        flex-direction: row;
        background: none;
        box-shadow: none;
        align-items: center;
        justify-content: space-between;
        padding: 0rem;
        gap: 0rem;
        width: 95vw;
        border-bottom: 1px solid rgba(189, 189, 189, 0.283);

        .title {
          display: flex;
          justify-content: center;
          align-items: center;

          & h2 {
            margin-left: 1rem;
            font-size: 1.5rem;
          }
        }

        .sm {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        &:nth-child(9) {
          grid-column: 1;
        }

        &:nth-child(10) {
          grid-column: 1;
        }

        & h2 {
          font-size: 1rem;
        }

        & h4 {
          display: none;
        }

        & small {
          display: block;
        }
      }

      .grid-3 {
        gap: 2rem;
        width: 100%;
        grid-template-columns: 1fr;

        .reward-icon {
          & i {
            padding-bottom: 1rem;
          }

          & p {
            font-size: 1.5rem;
            width: 50%;
          }
        }
      }
    }
  }
}
