@media (max-width: 768px) {
  #header {
    height: auto;
    /* Navbar */
    .nav {
      justify-content: center;

      .nav-left {
        flex-direction: column;

        .navbar-content {
          display: none;
        }
      }

      .nav-right {
        & a {
          padding: 0.3rem 0.5rem;
        }
      }
    }
    .header-main {
      grid-template-columns: 1fr;
      gap: 0rem;

      .header-text {
        & h1 {
          font-size: 3rem;
          margin-bottom: 0;
        }

        & p {
          margin-bottom: 1rem;
        }

        .btn {
          padding: 0.35rem 1rem;
        }
      }

      .header-vid {
        & video {
          height: 20rem;
          width: 20rem;
        }
      }
    }
  }
}
