html {
   scroll-behavior: smooth;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Poppins', sans-serif;
   line-height: 1.5;
   background: var(--light-color);
   color: var(--dark-color);
}

ul {
   text-decoration: none;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
   color: var(--light-color);
}

label {
   display: block;
}

#header {
   height: 100vh;
   position: relative;
   background: var(--light-purple-color);

   /* Navbar */
   #navbar {
   height: 80px;
   background: var(--primary-color);
   position: relative;
   top: 0;
   left: 0;
   width: 100%;
   transition: all 1s ease;
   z-index: 1000;

   /* &.scrolled {
      background-color: rgba(0, 0, 0, 0.2);
   } */

   .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      height: 80px;

      .nav-left {
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 3rem;
         font-size: 0.8rem;
      }

      .nav-right {
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 1rem;
         
         & a {
            font-size: 0.8rem;
         }
      }
   }

   .navbar-logo a {
      font-size: 1.5rem;
   }

   .navbar-content {
      height: 80px;
   }

   .navbar-content ul {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
   }

   .navbar-content ul li a {
      padding: 1rem;
      margin-right: 0.5rem;
      border-bottom: 1px solid transparent;
      transition: all 0.5s ease;

      &:hover {
         border-bottom: 1px solid var(--light-color);
      }

      &.current {
         border-bottom: 1px solid  var(--light-color);
      }
   }
   }

   /* Header Text */
   .header-main {
      height: 90vh;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;

      .header-text {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: start;
         text-align: left;
         height: 100%;
         padding-bottom: 2rem;
         color: var(--dark-color);
         z-index: 2;

         & h1 {
            font-size: 3rem;
            margin-bottom: 2.4rem;
            font-weight: 400;
         }

         & p {
            font-size: 1.3rem;
            text-align: left;
            margin-bottom: 2.4rem;
         }
      }

      .header-vid {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         text-align: center;

         .btn-light {
            border: 1px solid var(--primary-color);
            padding: 0.7rem 1rem;
         }
      }
   }
}

#crypto {
   position: relative;
   background: #f9f9f9;
   padding: 2rem 1rem;

   .crypto-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      & h1 {
         color: var(--dark-color);
         font-size: 2.5rem;
         padding-bottom: 3rem;
      }

      .grid-3 {
         z-index: 10;
      }

      .cry-grid-content {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         text-align: center;
         height: 100%;
         width: 100%;
         padding: 1rem 0 4rem 0;

         & h3 {
            font-size: 2.5rem;
            padding-bottom: 1rem;
         } 
      }

      .grid-2 {
         z-index: 10;
      }

      .btc-float {
         display: flex;
         justify-content: center;
         align-items: center;
         color: var(--primary-color);
      }

      .content-right {
         display: flex;
         flex-direction: column;
         align-items: start;

         & h1 {
            color: var(--dark-color);
            text-shadow: none;
            padding-bottom: 3rem;
         }

         & h3 {
            padding-bottom: 1.5rem;

            & span {
               padding: 0.4rem 1rem;
               margin-right: 1rem;
               border: 1px solid var(--primary-color);
               border-radius: 50%;
               color: var(--primary-color);
            }
         }
      }

   }
}

#crypto-slide {
   background: var(--light-bg);

   .cry-slide-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 65vh;
      line-height: 2;

      & h1 {
         font-weight: 400;
         font-size: 2rem;
         padding-bottom: 3rem;
      }

      & a {
         margin-top: 3rem;
      }
   }
}

/* section: why crypto */
#why-cookie {

   .why-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & h1 {
         font-weight: 400;
         font-size: 2.8rem;
      }

      .inner-grid-why {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         padding: 2rem 0;

         & img {
            height: 200px;
            width: 200.23px;
         }

         & a {
            font-weight: bold;
         }
      }

      & a {
         font-size: 0.9rem;
      }

      .btn {
         padding: 0.9rem 2rem;
         
      }
   }
}

#rewards {
   background: var(--light-bg);

   .reward-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 2;

      & h3 {
         font-weight: 400;
         font-size: 1.25rem;
         padding-bottom: 0.4rem;
      }

      & h1 {
         font-size: 3rem;
         font-weight: 500;
         padding-bottom: 0.5rem;
      }

      & a {
         margin-top: 0.8rem;
         font-weight: 400;
      }
   }

   .grid-4 {
      gap: 4rem 2rem;
      padding: 2rem 1rem;
   }

   .crypto-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 34px 24px 24px 24px;
      border-radius: 8px;
      background: #fff;
      text-align: center;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

      & img {
         height: 48px;
         width: 48px;
      }

      &:nth-child(9) {
         grid-column: 2;
      }

      &:nth-child(10) {
         grid-column: 3;
      }

      & h2 {
         padding: 1rem 0;
         font-size: 1.5rem;
         font-weight: 400;

         & span {
            color: #a6a6a6;
         }
      }

      & h4 {
         padding-bottom: 1rem;
      }
   }

   .grid-3 {
      gap: 8rem;
   }

   .reward-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & i {
         padding-bottom: 1.6rem;
      }

      & p {
         font-size: 1.3rem;
         text-align: center;
      }
   }

   .btn {
      padding: 0.4rem 2rem;
      text-align: center;
      align-self: center;
   }
}


#pro {
   background: linear-gradient(to bottom, #2c003e, #000000);
   color: #fff;
   position: relative;

   & img {
      width: 100%;
      height: auto;
      padding: 3rem 0;
   }

   .pro-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 1rem 10rem 1rem;
      font-weight: 400;

      & h4 {
         font-size: 1.3rem;
         font-weight: 400;
         padding-bottom: 1.7rem;
      }

      & h1 {
         font-weight: 400;
         font-size: 2.5rem;
      }

      .content {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         text-align: center;
         padding-bottom: 2rem;

         & i {
            padding-bottom: 1rem;
         }

         & h2 {
            font-size: 1.2rem;
            font-weight: 400;
            padding-bottom: 1rem;
         }
      }

      #off-c {
         position: absolute;
         bottom: -115px;
         left: 100px;
         right: 100px;

         .off-c-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 3rem 1.5rem;
            border-radius: 8px;
            background: linear-gradient(to bottom, #2c003e, #000000);

            & h1 {
               font-weight: 400;
               margin-bottom: 1rem;
               font-size: 1.5rem;

               & span {
                  padding: 1px 0.07rem;
                  color: #000;
                  background: #fff;
                  border-radius: 8px;
                  margin-left: 0.5rem;
                  font-size: 1.5rem;
               }
            }

            & p {
               font-weight: 400;
            }

            & a {
               padding-top: 2rem;
               text-decoration: underline solid transparent 1px;
               transition: all 0.3s ease;

               
               &:hover {
                  text-decoration: underline solid #fff 2px;
               }
            }
         }

      }
   }
}


#start-journey {
   background: var(--light-bg);
   height: auto;
   padding-top: 5rem;

   .grid-2 {
      grid-template-columns: 3fr 2fr;
      padding: 10rem 1rem 0 1rem;

      .j-content {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: start;

         & h1 {
            font-size: 2.5rem;
            font-weight: 400;
            padding-bottom: 1.5rem;
         }

         & p {
            font-size: 1.8rem;
            padding-bottom: 1.5rem;
         }
      }
   }

   & img {
      height: auto;
      width: 100%;
   }
}

#notes {
   background: var(--light-purple-color);
   font-size: 0.7rem;

   .content {
      font-style: italic;
      text-align: center;

      & p {
         padding: 0.55rem 0;
         color: rgba(106, 106, 106, 0.7);

         & a {
            color: #595959;

            &:hover {
               text-decoration: underline solid #5f5f5f 1px;
            }
         }
      }
   }
}

/* Footer */
#footer {

   .grid-2 {
      grid-template-columns: 1fr 4fr;
      padding: 2rem;
      .c-left {
         & h2 {
            font-weight: 400;
            padding-bottom: 1rem;
         }

         & p {
            opacity: 0.7;
            font-size: 1.2rem;
            padding-bottom: 1rem;
         }

         & a {
            text-align: center;
            margin-bottom: 1rem;
         }
      }
   }

   
}